<a href="https://colab.research.google.com/github/dawikrol/Engineering-thesis/blob/main/Scripts/Solar_potential.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###**Lib import:**

In [ ]:
import pandas as pd
from google.colab import files
import io
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

### <a name ='1'></a>**Data uploaded**

Data comes from: https://ec.europa.eu/jrc/en/pvgis.

You can find them in git project director: Data/Solar_energy

In [ ]:
uploaded = files.upload()

Saving Limanowski_03.csv to Limanowski_03.csv
Saving Nowosądecki_05.csv to Nowosądecki_05.csv
Saving Nowotarski_02.csv to Nowotarski_02.csv
Saving NowySącz_04.csv to NowySącz_04.csv
Saving Tatrzański_01.csv to Tatrzański_01.csv

###**Data preprocesing**

Preparing raw DataFrame

In [ ]:
dataframes = {}

for file in uploaded:
    name, _ = file.split('.')
    dataframes[name] = pd.read_csv(io.BytesIO(uploaded[file]),error_bad_lines=False)

b'Skipping line 34: expected 1 fields, saw 2\n'
b'Skipping line 34: expected 1 fields, saw 2\n'
b'Skipping line 34: expected 1 fields, saw 2\n'
b'Skipping line 34: expected 1 fields, saw 2\n'
b'Skipping line 34: expected 1 fields, saw 2\n'

In [ ]:
dataframes[list(dataframes.keys())[0]] #raw data frame

                  Latitude (decimal degrees):\t49.712
0                Longitude (decimal degrees):\t20.406
1                    Radiation database:\tPVGIS-SARAH
2   Nominal power of the PV system (c-Si) (kWp):\t1.0
3                             System losses(%):\t14.0
4        Fixed slope of modules (deg.) (optimum):\t39
5   Orientation (azimuth) of modules (deg.) (optim...
6                                         Fixed angle
7     Month\t\tE_d\t\tE_m\t\tH(i)_d\t\tH(i)_m\t\tSD_m
8         1\t\t1.31\t\t40.5\t\t1.49\t\t46.09\t\t13.73
9        2\t\t1.81\t\t50.63\t\t2.07\t\t58.02\t\t13.63
10        3\t\t2.7\t\t83.63\t\t3.21\t\t99.45\t\t20.36
11     4\t\t3.69\t\t110.81\t\t4.57\t\t137.11\t\t17.37
12     5\t\t3.71\t\t115.12\t\t4.69\t\t145.53\t\t18.49
13      6\t\t3.74\t\t112.33\t\t4.8\t\t143.96\t\t12.22
14     7\t\t3.97\t\t123.12\t\t5.18\t\t160.46\t\t17.37
15      8\t\t3.8\t\t117.78\t\t4.91\t\t152.33\t\t12.65
16      9\t\t3.32\t\t99.71\t\t4.18\t\t125.39\t\t17.81
17       10\t\t2.6\t\t80.52\t\t3.15\t\t97.63\t\t18.29
18       11\t\t1.71\t\t51.18\t\t2.01\t\t60.3\t\t13.25
19       12\t\t1.22\t\t37.7\t\t1.42\t\t43.88\t\t12.65
20      Year\t\t2.8\t\t85.25\t\t3.48\t\t105.85\t\t4.5
21  \t\tAOI loss (%)\t\tSpectral effects (%)\t\tTe...
22   Fixed angle:\t\t-2.96\t\t1.76\t\t-5.16\t\t-19.45
23  E_d: Average daily energy production from the ...
24  E_m: Average monthly energy production from th...
25  H(i)_d: Average daily sum of global irradiatio...
26  H(i)_m: Average monthly sum of global irradiat...
27  SD_m: Standard deviation of the monthly energy...

Data clearing

In [ ]:
cleared_df = {}

for key in dataframes:
    cl_data = dataframes[key].iloc[7:20]
    cl_data.columns = ['default']
    cl_data = cl_data.default.str.split('\t\t', expand=True)
    cl_data.columns = cl_data.iloc[0]
    cl_data = cl_data.drop(cl_data.index[0])
    cl_data = cl_data.reset_index(drop=True)
    cl_data = cl_data[['Month', 'E_m']]
    cl_data.columns = ['Mounth', 'Mounthly energy production [kWh/m]']
    mounths = ['January', 'February', 'March', 'April', 'May', 'June', 'July',
            'August', 'September', 'Octomber', 'November', 'December']
    cl_data['Mounth'] = mounths
    cl_data.set_index('Mounth', inplace=True)

    cleared_df[key] = cl_data

In [ ]:
cleared_df[list(cleared_df.keys())[0]] #cleared data frame

          Mounthly energy production [kWh/m]
Mounth
January                                 40.5
February                               50.63
March                                  83.63
April                                 110.81
May                                   115.12
June                                  112.33
July                                  123.12
August                                117.78
September                              99.71
Octomber                               80.52
November                               51.18
December                                37.7

Creation of final data

In [ ]:
final_data = {
    'January' : [],
    'February': [],
    'March' : [],
    'April' : [],
    'May' : [],
    'June' : [],
    'July' : [],
    'August' : [],
    'September' : [],
    'Octomber' : [],
    'November' : [],
    'December' : []
    }

for key in cleared_df:
    for m in mounths:
        final_data[m].append(float(cleared_df[key].loc[m, 'Mounthly energy production [kWh/m]']))

for key in final_data:
    final_data[key] = round(sum(final_data[key])/len(final_data[key]), 3)

final_data

{'April': 108.656,
 'August': 117.026,
 'December': 39.252,
 'February': 52.246,
 'January': 41.93,
 'July': 121.052,
 'June': 110.112,
 'March': 83.892,
 'May': 112.728,
 'November': 50.154,
 'Octomber': 79.846,
 'September': 98.848}

In [ ]:
final_df = pd.DataFrame(final_data, index=[1]).T


final_df.columns = ['Mounthly energy production [kWh/m]']
final_df.index.names = ['Mounth']

Final data:

Average value of the potential amount of energy produced from photovoltaics for Zone 1

In [ ]:
final_df

           Mounthly energy production [kWh/m]
Mounth
January                                41.930
February                               52.246
March                                  83.892
April                                 108.656
May                                   112.728
June                                  110.112
July                                  121.052
August                                117.026
September                              98.848
Octomber                               79.846
November                               50.154
December                               39.252